extends layout

block content
  h1 Louisville Google Maps Traffic Snapshots
  
  ul(style="list-style: none")
    each image in images.resources
      li
        div
          = new Date(image.created_at).toString()
          = new Date(image.created_at).toLocaleString("en-US", {timeZone: "America/Denver"})
        div
          img(src=image.url alt='test' width=600)
