extends layout

block content
  h1 Louisville Google Maps Traffic Snapshots
  
  div(style="align: center" width="100%")
    ul(style="list-style: none")
      each image in images.resources
        li
          h5(style="padding-bottom: 5px; margin-bottom: 0px;")
            = moment(image.created_at).format('dddd, MMMM Do YYYY, h:mm:ss a')
          div
            img(src=image.url alt='test' width=600)
